@import "tailwindcss";

@theme {
	--accent-color: #89bf3f,
	--accent-color-lighter: #4ca71e,
	--accent-2-color: #203b79,
	--accent-2-color-lighter: #1f49a3,

	--darkest-color: #1e1e22,
	--darker-color: #232529,
	--dark-color: #2b2d31,
	--dark-color-lighter: #313338,
	--dark-color-more-lighter: #383a40,

	--grey-color: #95979f,
	--grey-color-lighter: #b8bac0,
	--color-grey-color-more-lighter: #f3f5f6,

	--color-red: #f84f79,
	--color-green: #34d15c
}

html {
	@apply bg-dark-color-lighter text-grey-color-more-lighter tracking-tight;
}
body {
	@apply min-w-[450px];
}

h1 {
	@apply text-2xl md:text-4xl font-bold;
}
h2 {
	@apply font-bold text-xl md:text-2xl mt-5;
}
h3 {
	@apply text-sm;
}
h4 {
	@apply text-sm italic;
}
button {
	@apply focus:outline-none;
}

.button-ish {
	@apply stroke-grey-color text-grey-color hover:bg-dark-color-lighter hover:stroke-grey-color-more-lighter hover:text-grey-color-more-lighter;
}
